<h4>Editing Product</h4>



<%= link_to 'Show', @admin_product_feature %> |
<%= link_to 'Back', admin_product_features_path %>

<style>
    .label-names{
        width: 20%;
        padding: 6px 6px;
        background-color: #3CBC8D;
        font-size: 16px;
        color: white;
        border-radius: 4px;
    }
    .label-values{
        width: 50%;
        padding: 6px 6px;
        background-color: rgba(0, 119, 255, 0.22);
        font-size: 16px;
        color: white;
        border-radius: 4px;
    }

</style>

<div class="container">

  <%= form_for(@admin_product_feature) do |f| %>
      <% if @admin_product_feature.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(@admin_product_feature.errors.count, "error") %> prohibited this admin_product from being saved:</h2>

            <ul>

              <% @admin_product_feature.errors.full_messages.each do |message| %>
                  <li><%= message %></li>
              <% end %>

            </ul>

          </div>
      <% end %>

      <div class="field">
        <%= f.label :category_id %><br>
        <%= f.collection_select(:category_id, Admin::Category.all, :id, :name_cat, :prompt => "Select Category") %>
      </div>

      <div class="field">
        <%= f.label :product_id %><br>
        <%= f.collection_select(:sub_category_id, Admin::SubCategory.all, :id, :name, :prompt => "Select Product") %>
      </div>

      <% desription = eval(@admin_product_feature['description']) %>

      <% desription.each do |key_1, val_1| %>
          <br>
          <% if val_1.is_a?(Hash)  %>
              <% val_1.each do |key_2, val_2| %>

                  <% if val_2.is_a?(Hash)  %>
                      <% val_2.each do |value_h| %>
                          <br>
                          <strong><% val_2 %></strong>
                          <input type="text" name="admin_product[description][<%= key_1 %>][<%= key_2 %>][<%= value_h.each{|k,v| k}.first %>]" value="<%= value_h.each{|k,v| v}.last %>" id="admin_product_description" class="label-values"/>
                      <% end %>
                  <% elsif val_2.is_a?(Array)  %>
                      <% i = 0 %>
                      <% val_2.each do |value_a| %>
                          <br>
                          <input type="text" name="admin_product[description][<%= key_1 %>][<%= key_2 %>][<%= value_a[i] %>][<%= value_a.map { |k,| k }.first %>]" value="<%= value_a.map { |k, v| v }.first %>" id="admin_product_description" class="label-names"/>
                          <input type="text" name="admin_product[description][<%= key_1 %>][<%= key_2 %>][<%= value_a[i] %>][<%= value_a.map { |k,| k }.last %>]" value="<%= value_a.map { |k, v| v }.last.squish %>" id="admin_product_description" class="label-values"/>
                          <% i += 1 %>
                      <% end %>
                  <% end %>

              <% end %>
          <% else %>

              <strong><%= key_1 %></strong>

              <% if key_1[/general_description/] %>
                  <textarea class="form-control" rows="20"  name="admin_product[description][<%= key_1 %>]" id="admin_product_description"><%= val_1 %></textarea>
              <% else %>
                  <input type="text" name="admin_product[description][<%= key_1 %>]" value="<%= val_1 %>" id="admin_product_description" class="label-values"/>
              <% end %>
          <% end %>
      <% end %>

      <div class="actions">
        <%= f.submit class: "btn btn-default"%>
      </div>

  <% end %>
</div>