<p id="notice"><%= notice %></p>

<h3>Listing Admin Product Features</h3>
<%= link_to 'New Product feature', new_admin_product_feature_path %>

<%= render "shared/pagination" %>

<table class = "table table-bordered table-striped" >
  <thead>
    <tr>
      <th>Category ID</th>
      <th>Category</th>
      <th>Product ID</th>
      <th>Product</th>
      <th>Identifier</th>
      <th>Description</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_product_features.each do |admin_product_feature| %>
      <tr>
        <td><%= admin_product_feature.category_id %></td>
        <td> <%= Admin::Category.where(id: admin_product_feature.category_id).first.name_cat %></td>
        <td><%= admin_product_feature.sub_category_id %></td>
        <td> <%= Admin::SubCategory.where(id: admin_product_feature.sub_category_id).first.name %></td>
        <td> <%= admin_product_feature.identifier %></td>
        <td>

           <% #eval(@products.description).deep_symbolize_keys%>
          <% descript_product = eval(admin_product_feature.description) %>
            <ul>
              <li><%= descript_product[:code] %></li>
              <li><%= descript_product[:product_status] %></li>
              <li><%= descript_product[:price] %></li>
              <li><%= descript_product[:currency] %></li>
              <li><% descript_product %></li>
            </ul>
        </td>


        <td><%= link_to 'Show', admin_product_feature %></td>
        <td><%= link_to 'Edit', edit_admin_product_feature_path(admin_product_feature) %></td>
        <td><%= link_to 'Destroy', admin_product_feature, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= render "shared/pagination" %>

