<%= form_for(@admin_notebook) do |f| %>
  <% if @admin_notebook.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@admin_notebook.errors.count, "error") %> prohibited this admin_notebook from being saved:</h2>

      <ul>
      <% @admin_notebook.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :category_id %><br>
    <%= f.number_field :category_id %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
