<div class="tab-content">
<%= form_for(resource, as: resource_name, url: unlock_path(resource_name), html: { method: :post, class: "smart-green" }) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>

  <div class="actions">
    <%= f.submit "Resend unlock instructions" %>
  </div>
    <%= render "devise/shared/links" %>
<% end %>

</div>
