<style>
    #container-vertical{
        width: 200px;

    }

    ul.filters-names{
        list-style-type: none;
        font-size: 16px;
    }
    input[type=checkbox] {
        transform: scale(1.5);
    }
</style>


<script>

    $(document).ready(function(){
        $('#main-box-vertical-menu').click(function(e){
            e.preventDefault();
            if ($('.ul-inner-element').is(":visible")){
            $('.ul-inner-element').hide()
            }
            else
            {
                $('.ul-inner-element').show()
            }
        });
    });

    $(document).ready(function(){

        $('li.inner-button').click(function(e){
            var $clicked = $(this);
            e.preventDefault();

                if ($clicked.children('.final-button').is(":visible")) {
                    $clicked.children('.final-button').hide()
                } else {
                    $clicked.children('.final-button').hide()
                }
        });

    });
</script>

<%  filster_translate = {'Manufacturer' => 'Производител', 'Screen size' => 'Размер на екрана', 'Screen Resolution' => 'Резолюция', 'Memory size' => 'RAM Памет', 'CPU Model' => 'Процесори' } %>



<div id="container-vertical">
  <div class="row-vertical">
    <div id="left" class="span3">

      <ul>
        <li><a href="#" id="main-box-vertical-menu">Всички продукти</a>

          <ul class="ul-inner-element">
            <% category_buttons.each_with_index do |button,i| %>


            <li id="inner-button<%= i%>" class="inner-button"><a href="#"><%= button.name_cat %></a></li>

              <ul class="ul-inner-element">

                <% sub_category_buttons.each_with_index do |sub_button| %>
                    <% if sub_button.category_id == button.id %>
                        <li class="final-button"><a><%= sub_button.name %></a></li>
                    <% end %>
                <% end %>


              </ul>

            <%  end %>


          </ul>
        </li>
      </ul>

    </div>
  </div>
</div>


<style>

</style>


<ul>
  <% if @product_param.present? %>
    <% @filters.each do |k, v|%>
       <li class="filters-names" id="<%= k %>" ><%= filster_translate[k] %>
        <ul>
          <% unless v.nil? %>
            <% v.each do |val| %>
              <li>
                <input type="checkbox" class="filters-values" value="<%= val %>">
                <%= val %>
              </li>
              <% end %>
          <% end %>
        </ul>
              <li>
    <% end.first %>
      </ul>
      <div id="button-filter">
          <input id="hidden-filters" type="hidden" value="">
          <input id="filter-button" class="btn btn-primary" type="button" value="Филтрирай"/>
          <a id="filter-button" href="" >info</a>
      </div>
<% end %>


  <script>
      $(document).ready(function() {
          $('#filter-button').click(function() {
              var filter_data = {};
              var filter_value = [];
              var obj_val = {};
              $('.filters-names').each(function(index1){
                  var name_filter = $(this).attr('id');
                  filter_value = [];
                  $(this).find('.filters-values').each(function(index2){
                      if ($(this).is(':checked')){
                          filter_value.push( $(this).val());
                          filter_data[name_filter] = filter_value;
                      }
                  });
              });
              var filters = JSON.stringify(filter_data).replace(/\[/g, '(').replace(/\]/g, ')');

              $('#filter-button').attr('href', "/product=laptops/filter=" + filters);

              $.ajax({
                  url: "/product=laptops/filter=" + filters,
                  type: 'get',
                  data: filters,
                  success: (data)
              });

          });

      });
  </script>
