<div class="pagination-container wow zoomIn mar-b-1x" data-wow-duration="0.5s">

  <ul class="pagination">
    <li class="pagination-item--wide first">
      <% if !@page.nil? %>
          <% if @page.to_i > 0 %>
              <a class="pagination-link--wide first" href="/product=<%= "#{@product_param}/page=#{@page.to_i - 1}" %>">
                <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>

              </a>
          <% else %>
              <a class="pagination-link--wide first" ></a>
          <% end %>
      <% end %>
    </li>

    <li class="pagination-item">
      <a class="pagination-link" href="<%= "/product=#{@product_param}/page=0" %>"><%= 1 %></a>
    </li>
    <li class="pagination-item"><a>...</a></li>

    <% (@page..@pages).each_with_index do |page, i|%>

        <% if page.to_i == @page.to_i  %>
            <li class="pagination-item is-active">
              <a class="pagination-link" href="<%= "/product=#{@product_param}/page=#{page + 1}" %>"><%= page + 1 %></a>
            </li>
        <% else %>
            <li class="pagination-item">
              <a class="pagination-link" href="<%= "/product=#{@product_param}/page=#{page + 1}" %>"><%= page + 1 %></a>
            </li>

        <% end %>
      <% break if i == 4 %>
    <% end %>

    <li class="pagination-item"><a>...</a></li>

    <li class="pagination-item">
      <a class="pagination-link" href="<%= "/product=#{@product_param}/page=#{@pages}" %>"><%= @pages + 1 %></a>
    </li>

    <li class="pagination-item--wide last">
      <% if @page.to_i < @pages.to_i %>
          <a class="pagination-link--wide last" href="<%= "/product=#{@product_param}/page=#{@page.to_i + 1}" %>"></a>
      <% else %>
          <a class="pagination-link--wide last" ></a>
      <% end %>
    </li>
  </ul>

</div>
