<%= form_for order_item, remote: true do |f| %>
          <% product_description = veiw_convert_hash(product.description) %>
          <div class="input-group">
            <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>
            <div class="input-group-btn">
              <%= f.hidden_field :admin_product_feature_id, value: product.id %>
              <%= f.submit "Add to Cart", class: "btn btn-primary" %>
            </div>
          </div>
    <%= price = "#{product_description[:price]}  #{product_description[:currency]}" %>
<% end %>

