
<script>
    $(document).ready(function() {
        $('#list').click(function(event){event.preventDefault();$('#products .item').addClass('list-group-item');});
        $('#grid').click(function(event){event.preventDefault();$('#products .item').removeClass('list-group-item');$('#products .item').addClass('grid-group-item');});
    });

</script>


<div class="container">
  <div class="well well-sm">
    <strong>Display</strong>

    <div class="btn-group">
      <a href="#" id="list" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-th-list"></span>List</a>

      <a href="#" id="grid" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-th"></span>Grid</a>
    </div>
  </div>

  <%= render 'shared/pagination' %>

  <div id="products" class="row list-group">
    <% @products.each do |product| %>
        <% description = eval(product.description) %>
        <div class="item col-xs-4 col-lg-4">

          <div class="thumbnail" style="">
            <a href="<%= "/store_mcomputers/#{product.id}" %>"><img style="height: 270px;" class="group list-group-image" src="<%= description[:main_picture_url] %>" alt="" /></a>
            <div class="caption">

              <h4 class="group inner list-group-item-heading">
                <a href="<%= "/store_mcomputers/#{product.id}" %>"><%= description[:code] %></a>
              </h4>

              <div style="height: 220px;" class="group inner list-group-item-text">

                 <% unless (description[:properties]).nil? %>
                      <% product_property = description[:properties][:property] %>

                      <% product_property.select.with_index do |property, i| %>
                        <% common_filter = /Manufacturer|Accessories|Screen type|Brand|Warranty|Other|Interfac|Wi-Fi|Mnfr Part|Model|Camera|ODD|Bluetooth|Audio|LAN|Body Color|Weight|Dimensions|Battery|Interface/i%>
                          <% if property.is_a?(Hash) %>
                            <li style="list-style-type: none; padding: 5px;">
                                  <% image_tag("tick_icon.png", size: "16") %>
                                  <strong><%= property[:name] %>:</strong>
                                  <%= property[:text].to_s[0..20] %>
                              <% break if i == 8%>
                                </li>
                          <% else %>
                            <% property %>
                          <% end %>
                    <% end %>
                <% end %>
              </div>

              <div class="row">
                <div style="margin-left: 120px;" class="col-xs-12 col-md-6">
                  <div class="button-list-group">
                  <p class="">








                        <% product_description = veiw_convert_hash(product.description) %>

                        <% price = "#{product_description[:price]}  #{product_description[:currency]}" %>
                        <h4 class="text-right"><strong>Цена:</strong> <span style="color: green"><%= "#{convert_price(price)} лв. #{price}" %></span></h4>







                    <br>
                    <a  class="btn btn-success" href="<%= "/store_mcomputers/#{product.id}" %>">Виж още</a>
                  </p>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>
    <% end %>
  </div>
  <%= render 'shared/pagination' %>
</div>

