<style>

    .glyphicon { margin-right:5px; }
    .thumbnail
    {
        width: 300px;
        height: 700px;
        margin-bottom: 20px;
        padding: 0px;
        -webkit-border-radius: 0px;
        -moz-border-radius: 0px;
        border-radius: 0px;
    }

    .item.list-group-item
    {
        float: none;
        width: 100%;
        background-color: #fff;
        margin-bottom: 10px;
    }
    .item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
    {
        background: #428bca;
    }

    .item.list-group-item .list-group-image
    {

        margin-right: 10px;
    }
    .item.list-group-item .thumbnail
    {

        margin-bottom: 0px;
    }
    .item.list-group-item .caption
    {

        padding: 9px 9px 0px 9px;
    }
    .item.list-group-item:nth-of-type(odd)
    {

        background: #eeeeee;
    }

    .item.list-group-item:before, .item.list-group-item:after
    {

        display: table;
        content: " ";
    }

    .item.list-group-item img
    {

        float: left;
        max-width: 300px;
        height: 200px;
    }
    .item.list-group-item:after
    {

        clear: both;
    }
    .list-group-item-text {
        margin: 0 0 11px;
    }






    html, body {
        font-family: 'Roboto', sans-serif;
        font-size: 16px;
        line-height: 24px;
    }

    .pagination-container {
        margin-top: 1em;
        padding-top: 2em;
        border-top: 1px solid #d7dadb;
        text-align: center;
    }

    .pagination-item {
        list-style-type: none;
        display: inline-block;
        border-right: 1px solid #d7dadb;
        transform: scale(1) rotate(19deg) translateX(0px) translateY(0px) skewX(-10deg) skewY(-20deg);
    }

    .pagination-item:hover,
    .pagination-item.is-active {
        background-color: #fa4248;
        border-right: 1px solid #fff;
    }
    .pagination-item:hover .pagination-link,
    .pagination-item.is-active .pagination-link {
        color: #fff;
    }

    .pagination-item.first-number {
        border-left: 1px solid #d7dadb;
    }

    .pagination-link {
        padding: 1.1em 1.6em;
        display: inline-block;
        text-decoration: none;
        color: #8b969c;
        transform: scale(1) rotate(0deg) translateX(0px) translateY(0px) skewX(20deg) skewY(0deg);
    }

    .pagination-item--wide {
        list-style-type: none;
        display: inline-block;
    }

    .pagination-item--wide.first {
        margin: 0 1em 0 0;
    }

    .pagination-item--wide.last {
        margin: 0 0 0 1em;
    }

    .pagination-link--wide {
        text-decoration: none;
        color: #8b969c;
        padding: 1.1em 1.6em;
    }

    .pagination-link--wide:hover {
        color: #fa4248;
    }

    .pagination-link--wide.first:before,
    .pagination-link--wide.last:after {
        font-family: 'entypo';
        speak: none;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
    }

    .pagination-link--wide.first::before {
        content: "\E765";
        margin-right: 0.5em;
    }

    .pagination-link--wide.last::after {
        content: "\E766";
        margin-left: 0.5em;
    }


</style>



<script>
    $(document).ready(function() {
        $('#list').click(function(event){event.preventDefault();$('#products .item').addClass('list-group-item');});
        $('#grid').click(function(event){event.preventDefault();$('#products .item').removeClass('list-group-item');$('#products .item').addClass('grid-group-item');});
    });

</script>


<div class="container">
  <div class="well well-sm">
    <strong>Display</strong>

    <div class="btn-group">
      <a href="#" id="list" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-th-list"></span>List</a>

      <a href="#" id="grid" class="btn btn-default btn-sm">
        <span class="glyphicon glyphicon-th"></span>Grid</a>
    </div>
  </div>

  <div class="pagination-container wow zoomIn mar-b-1x" data-wow-duration="0.5s">

    <ul class="pagination">
      <li class="pagination-item--wide first">
      <% if !@page.nil? %>
          <% if @page.to_i > 0 %>
              <a class="pagination-link--wide first" href="/product=<%= "#{@product_param}/page=#{@page.to_i - 1}" %>">Previous</a>
          <% end %>
      <% end %>
      </li>

      <% (1..@pages).each do |page|%>

            <% if page.to_i == @page.to_i  %>
              <li class="pagination-item is-active">
                <a class="pagination-link" href="<%= "/product=#{@product_param}/page=#{page}" %>"><%= page %></a>
              </li>
            <% else %>
              <li class="pagination-item">
                <a class="pagination-link" href="<%= "/product=#{@product_param}/page=#{page}" %>"><%= page %></a>
              </li>
          <% end %>

      <% end %>


      <li class="pagination-item--wide last">
        <% if @page.to_i < @pages.to_i %>
                <a class="pagination-link--wide last" href="<%= "/product=#{@product_param}/page=#{@page.to_i + 1}" %>">Next</a>
            <% end %>
      </li>
    </ul>

  </div>

  <div id="products" class="row list-group">
    <% @products.each do |product| %>
        <% description = eval(product.description) %>
        <div class="item col-xs-4 col-lg-4">

          <div class="thumbnail">
            <a href="<%= "/store_mcomputers/#{product.id}" %>"><img class="group list-group-image" src="<%= description[:main_picture_url] %>" alt="" /></a>
            <div class="caption">

              <h4 class="group inner list-group-item-heading">
                <a href="<%= "/store_mcomputers/#{product.id}" %>"><%= description[:code] %></a>
              </h4>

              <p class="group inner list-group-item-text">
                <ul>

                  <% product_property = description[:properties][:property] %>

                  <% product_property.each do |property| %>
                      <% property %>
                    <% end %>
               </ul>
              </p>

              <div class="row">
                <div class="col-xs-12 col-md-6">

                  <p class="lead">
                    <%= description[:price] %> <%= description[:currency] %>
                  </p>
                </div>

                <div class="col-xs-12 col-md-6">
                  <a class="btn btn-success" href="<%= "/store_mcomputers/#{product.id}" %>">View product</a>
                  <br>
                  <a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
                </div>
              </div>
            </div>
          </div>

        </div>
    <% end %>
  </div>
</div>

