
<% product =  veiw_convert_hash(@products.description).deep_symbolize_keys %>

<h1><%= product[:code] %></h1>

<div class="container">
  <div class="row">
    <div class="col-xs-4 item-photo">
      <img style="max-width:110%;" src="<%= product[:main_picture_url]%>" />
    </div>
    <div class="col-xs-5" style="border:0px solid gray">

      <h3><%= product[:code] %></h3>

      <%= form_for @order_item, remote: true do |f| %>

              <h3 style="margin-top:0px;">
              <span style="color: green">
                <% price = "#{product[:price]} #{product[:currency]}" %>
                <%= "#{convert_price(price)} лв." %></span></h3>
            <div class="input-group">
              <%= f.number_field :quantity, value: 1, class: "form-control", min: 1 %>

              <div class="input-group-btn">
                <%= f.hidden_field :admin_product_feature_id, value: @products.id %>
                <%= f.submit "Купи", class: "btn btn-primary" %>
              </div>
            </div>
        <% end %>

      <div class="section" style="padding-bottom:5px;">
        <div>
          <ul>
            <% product[:properties][:property].each do |property| %>
                <% if property[:name][/Screen size|Screen type|Screen Resolution|OS|HDD|Memory size|CPU Model|Graphics|HDD|SSD|Body Color/i] %>
                    <li><%= property[:name]%>: <%= property[:text]%></li>
                <% end %>
            <% end %>
          </ul>
        </div>
      </div>

    </div>

    <div class="col-xs-9">
      <ul class="menu-items">
        <p class="group inner list-group-item-text">
          <%= product[:general_description] %>
        </p>
      </ul>
      <div style="width:100%;border-top:1px solid silver">
        <p style="padding:15px;">
          <h3>
            Подробна информация
          </h3>
        </p>
        <small>
          <table  id="acrylic">
            <thead>
            <tr>
              <th>Names</th>
              <th>Values</th>
            </tr>

            </thead>
            <% product[:properties][:property].each do |property| %>
                <tr>
                  <td><%= translate_name[property[:name]] %></td>  <td><%=  property[:text] %></td>
                </tr>
            <% end %>

          </table>
        </small>
      </div>
    </div>
  </div>
</div>
