<p id="notice"><%= notice %></p>

<h1>Listing Admin Laptops</h1>

<table class = "table table-bordered table-striped">
  <thead>
    <tr>
      <th>Category</th>
      <th>Code</th>
      <th>Name</th>
      <th>Product status</th>
      <th>Hashpromo</th>
      <th>General description</th>
      <th>Classname</th>
      <th>Price</th>
      <th>Currency</th>
      <th>Main picture url</th>
      <th>Manufacturer</th>
      <th>Category</th>
      <th>Partnum</th>
      <th>Gallery</th>
      <th>Vendor url</th>
      <th>manufacturer</th>
      <th>mnfr part</th>
      <th>model</th>
      <th>screen size</th>
      <th>screen type</th>
      <th>screen resolution</th>
      <th>memory size</th>
      <th>memory type</th>
      <th>cpu</th>
      <th>Model</th>
      <th>graphics</th>
      <th>hdd</th>
      <th>ssd</th>
      <th>disk specifications</th>
      <th>interface</th>
      <th>camera</th>
      <th>odd</th>
      <th>os</th>
      <th>wi-fi</th>
      <th>audio</th>
      <th>lan</th>
      <th>bluetooth</th>
      <th>body color</th>
      <th>battery</th>
      <th>dimensions</th>
      <th>weight</th>
      <th>other</th>
      <th>warranty</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @admin_laptops.each do |admin_laptop| %>
      <tr>
        <td><%= admin_laptop.category_id %></td>
        <td><%= admin_laptop.code %></td>
        <td><%= admin_laptop.name %></td>
        <td><%= admin_laptop.product_status %></td>
        <td><%= admin_laptop.hashpromo %></td>
        <td><%= admin_laptop.general_description %></td>
        <td><%= admin_laptop.classname %></td>
        <td><%= admin_laptop.price %></td>
        <td><%= admin_laptop.currency %></td>
        <td><%= admin_laptop.main_picture_url %></td>
        <td><%= admin_laptop.manufacturer %></td>
        <td><%= admin_laptop.category %></td>
        <td><%= admin_laptop.partnum %></td>
        <td><%= admin_laptop.gallery %></td>
        <td><%= admin_laptop.vendor_url %></td>
        <td><%= admin_laptop.property_Manufacturer %></td>
        <td><%= admin_laptop.property_Mnfr_Part %></td>
        <td><%= admin_laptop.property_Model %></td>
        <td><%= admin_laptop.property_Screen_size %></td>
        <td><%= admin_laptop.property_Screen_type %></td>
        <td><%= admin_laptop.property_Screen_Resolution %></td>
        <td><%= admin_laptop.property_Memory_size %></td>
        <td><%= admin_laptop.property_Memory_type %></td>
        <td><%= admin_laptop.property_CPU %></td>
        <td><%= admin_laptop.Model %></td>
        <td><%= admin_laptop.property_Graphics %></td>
        <td><%= admin_laptop.property_HDD %></td>
        <td><%= admin_laptop.property_SSD %></td>
        <td><%= admin_laptop.property_Disk_Specifications %></td>
        <td><%= admin_laptop.property_Interface %></td>
        <td><%= admin_laptop.property_Camera %></td>
        <td><%= admin_laptop.property_ODD %></td>
        <td><%= admin_laptop.property_OS %></td>
        <td><%= admin_laptop.property_Wi-Fi %></td>
        <td><%= admin_laptop.property_Audio %></td>
        <td><%= admin_laptop.property_LAN %></td>
        <td><%= admin_laptop.property_Bluetooth %></td>
        <td><%= admin_laptop.property_Body_Color %></td>
        <td><%= admin_laptop.property_Battery %></td>
        <td><%= admin_laptop.property_Dimensions %></td>
        <td><%= admin_laptop.property_Weight %></td>
        <td><%= admin_laptop.property_Other %></td>
        <td><%= admin_laptop.property_Warranty %></td>
        <td><%= link_to 'Show', admin_laptop %></td>
        <td><%= link_to 'Edit', edit_admin_laptop_path(admin_laptop) %></td>
        <td><%= link_to 'Destroy', admin_laptop, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Laptop', new_admin_laptop_path %>
