<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @admin_laptop.category_id %>
</p>

<p>
  <strong>Code:</strong>
  <%= @admin_laptop.code %>
</p>

<p>
  <strong>Name:</strong>
  <%= @admin_laptop.name %>
</p>

<p>
  <strong>Product status:</strong>
  <%= @admin_laptop.product_status %>
</p>

<p>
  <strong>Hashpromo:</strong>
  <%= @admin_laptop.hashpromo %>
</p>

<p>
  <strong>General description:</strong>
  <%= @admin_laptop.general_description %>
</p>

<p>
  <strong>Classname:</strong>
  <%= @admin_laptop.classname %>
</p>

<p>
  <strong>Price:</strong>
  <%= @admin_laptop.price %>
</p>

<p>
  <strong>Currency:</strong>
  <%= @admin_laptop.currency %>
</p>

<p>
  <strong>Main picture url:</strong>
  <%= @admin_laptop.main_picture_url %>
</p>

<p>
  <strong>Manufacturer:</strong>
  <%= @admin_laptop.manufacturer %>
</p>

<p>
  <strong>Category:</strong>
  <%= @admin_laptop.category %>
</p>

<p>
  <strong>Partnum:</strong>
  <%= @admin_laptop.partnum %>
</p>

<p>
  <strong>Gallery:</strong>
  <%= @admin_laptop.gallery %>
</p>

<p>
  <strong>Vendor url:</strong>
  <%= @admin_laptop.vendor_url %>
</p>

<p>
  <strong>Property manufacturer:</strong>
  <%= @admin_laptop.property_Manufacturer %>
</p>

<p>
  <strong>Property mnfr part:</strong>
  <%= @admin_laptop.property_Mnfr_Part %>
</p>

<p>
  <strong>Property model:</strong>
  <%= @admin_laptop.property_Model %>
</p>

<p>
  <strong>Property screen size:</strong>
  <%= @admin_laptop.property_Screen_size %>
</p>

<p>
  <strong>Property screen type:</strong>
  <%= @admin_laptop.property_Screen_type %>
</p>

<p>
  <strong>Property screen resolution:</strong>
  <%= @admin_laptop.property_Screen_Resolution %>
</p>

<p>
  <strong>Property memory size:</strong>
  <%= @admin_laptop.property_Memory_size %>
</p>

<p>
  <strong>Property memory type:</strong>
  <%= @admin_laptop.property_Memory_type %>
</p>

<p>
  <strong>Property cpu:</strong>
  <%= @admin_laptop.property_CPU %>
</p>

<p>
  <strong>Model:</strong>
  <%= @admin_laptop.Model %>
</p>

<p>
  <strong>Property graphics:</strong>
  <%= @admin_laptop.property_Graphics %>
</p>

<p>
  <strong>Property hdd:</strong>
  <%= @admin_laptop.property_HDD %>
</p>

<p>
  <strong>Property ssd:</strong>
  <%= @admin_laptop.property_SSD %>
</p>

<p>
  <strong>Property disk specifications:</strong>
  <%= @admin_laptop.property_Disk_Specifications %>
</p>

<p>
  <strong>Property interface:</strong>
  <%= @admin_laptop.property_Interface %>
</p>

<p>
  <strong>Property camera:</strong>
  <%= @admin_laptop.property_Camera %>
</p>

<p>
  <strong>Property odd:</strong>
  <%= @admin_laptop.property_ODD %>
</p>

<p>
  <strong>Property os:</strong>
  <%= @admin_laptop.property_OS %>
</p>

<p>
  <strong>Property wi-fi:</strong>
  <%= @admin_laptop.property_Wi-Fi %>
</p>

<p>
  <strong>Property audio:</strong>
  <%= @admin_laptop.property_Audio %>
</p>

<p>
  <strong>Property lan:</strong>
  <%= @admin_laptop.property_LAN %>
</p>

<p>
  <strong>Property bluetooth:</strong>
  <%= @admin_laptop.property_Bluetooth %>
</p>

<p>
  <strong>Property body color:</strong>
  <%= @admin_laptop.property_Body_Color %>
</p>

<p>
  <strong>Property battery:</strong>
  <%= @admin_laptop.property_Battery %>
</p>

<p>
  <strong>Property dimensions:</strong>
  <%= @admin_laptop.property_Dimensions %>
</p>

<p>
  <strong>Property weight:</strong>
  <%= @admin_laptop.property_Weight %>
</p>

<p>
  <strong>Property other:</strong>
  <%= @admin_laptop.property_Other %>
</p>

<p>
  <strong>Property warranty:</strong>
  <%= @admin_laptop.property_Warranty %>
</p>

<%= link_to 'Edit', edit_admin_laptop_path(@admin_laptop) %> |
<%= link_to 'Back', admin_laptops_path %>
