<p id="notice"><%= notice %></p>
<%= link_to 'New Category', new_admin_category_path, class: "btn btn-primary"  %>
<h3>Listing Admin Categories</h3>

<table class = "table table-bordered table-striped">
  <thead>
    <tr>
      <th>Name cat</th>
      <th>View cat</th>
      <th>Show</th>
      <th>Edit</th>
      <th>Destroy</th>
    </tr>
  </thead>

  <tbody>
    <% @admin_categories.each do |admin_category| %>
      <tr>
        <td><%= admin_category.name_cat %></td>
        <td><%= admin_category.view_cat %></td>
        <td><%= link_to 'Show', admin_category %></td>
        <td><%= link_to 'Edit', edit_admin_category_path(admin_category) %></td>
        <td><%= link_to 'Destroy', admin_category, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


