
<h1>New Admin Product</h1>
<%= link_to 'Back', admin_products_path, class: "btn btn-primary" %>

<div class="form1">



  <%= form_for(@admin_product) do |f| %>
      <% if @admin_product.errors.any? %>
          <div id="error_explanation">
    <h2><%= pluralize(@admin_product.errors.count, "error") %> prohibited this admin_product from being saved:</h2>

        <ul>

          <% @admin_product.errors.full_messages.each do |message| %>
              <li><%= message %></li>
          <% end %>

        </ul>

          </div>
    <% end %>

    <div class="field">
      <%= f.label :category_id %><br>
      <%= f.collection_select(:category_id, Admin::Category.all, :id, :name_cat, :prompt => "Select Category") %>
    </div>

      <div class="field">
        <%= f.label :description %><br>
        <input type="text" name="admin_product[description][id]" value="" id="admin_product_description"/>
      </div>
      <div class="field">
        <%= f.label :description %><br>
        <input type="text" name="admin_product[description][uid]" id="admin_product_description"/>
      </div>

      <div class="field">
        <%= f.label :description %><br>
        <input type="text" name="admin_product[description][name]" id="admin_product_description"/>
      </div>

      <div class="field">
        <%= f.label :description %><br>
        <input type="text" name="admin_product[description][product_status]" id="admin_product_description"/>
      </div>

      <div class="field">
        <%= f.label :description %><br>
        <input type="text" name="admin_product[description][haspromo]" id="admin_product_description"/>
      </div>

      <div class="field">
        <%= f.label :description %><br>
        <input type="text" name="admin_product[description][general_description]" id="admin_product_description"/>
      </div>

      <div class="field">
        <%= f.label :description %><br>
        <input type="text" name="admin_product[description][classname]" id="admin_product_description"/>
      </div>

      <div class="field">
        <%= f.label :description %><br>
        <input type="text" name="admin_product[description][classname_full]" id="admin_product_description"/>
      </div>

      <div class="field">
        <%= f.label :description %><br>
        <input type="text" name="admin_product[description][class_id]" id="admin_product_description"/>
      </div>

      <div class="field">
        <%= f.label :description %><br>
        <input type="text" name="admin_product[description][price]" id="admin_product_description"/>
      </div>

      <div class="field">
        <%= f.label :description %><br>
        <input type="text" name="admin_product[description][currency]" id="admin_product_description"/>
      </div>

      <div class="field">
        <%= f.label :description %><br>
        <input type="text" name="admin_product[description][main_picture_url]" id="admin_product_description"/>
      </div>

      <div class="field">
        <%= f.label :description %><br>
        <input type="text" name="admin_product[description][manufacturer]" id="admin_product_description"/>
      </div>

      <div class="field">
        <%= f.label :description %><br>
        <input type="text" name="admin_product[description][category]" id="admin_product_description"/>
      </div>

      <div class="field">
        <%= f.label :description %><br>
        <input type="text" name="admin_product[description][subcategory]" id="admin_product_description"/>
      </div>

      <div class="field">
        <%= f.label :description %><br>
        <input type="text" name="admin_product[description][partnum]" id="admin_product_description"/>
      </div>

      <div class="field">
        <%= f.label :description %><br>
        <textarea rows="4" cols="50" name="admin_product[description][gallery][picture][][picture_url]" id="admin_product_description"></textarea>
      </div>

      <div class="field">
        <%= f.label :description %><br>
        <input type="text" name="admin_product[description][vendor_url]" id="admin_product_description"/>
      </div>

      <div class="field">
        <%= f.label :description %><br>
        <textarea rows="4" cols="50" name="admin_product[description][properties][property][]" id="admin_product_description"></textarea>
      </div>


      <div class="actions">
      <%= f.submit %>
    </div>

  <% end %>

</div>