<p id="notice"><%= notice %></p>

<p>
  <strong>Category:</strong>
  <%= @admin_product.category_id %>
</p>

<p>
  <strong>Description:</strong>
  <%= @admin_product.description %>
</p>

<%= link_to 'Edit', edit_admin_product_path(@admin_product) %> |
<%= link_to 'Back', admin_products_path %>
