<h1>Конфигуратор</h1>
<input id="btnHide" class="btn btn-primary" type="button" value="Hide prices"/>
<br>
<br>
<table class = "table table-bordered table-striped" >

  <% @products_identifiers.map do |identifier| %>

      <tr class="row-config">
        <td><%= identifier %></td>
        <td>
          <%= select("post", "#{identifier}", instance_variable_get("@#{identifier}").collect do |c|
              [
                   " #{eval(c.description)[:code]} -" +
                   " #{convert_price("#{eval(c.description)[:price]} #{eval(c.description)[:currency]}")} ЛВ.",
                   " #{c.id}:"+
                   " #{convert_price("#{eval(c.description)[:price]} #{eval(c.description)[:currency]}")}"
               ]
           end, {include_blank: 'Изберете:'}) %>
        </td>

        <td class="quantity">
          <input value="1" class="form-control" min="1" type="number" id="quantity_<%= identifier %>">
        </td>

        <td id="price_<%= identifier %>" class="price_item" >0</td>
        <td><a id="link_<%= identifier %>" href="" target="_blank">info</a></td>
      </tr>
  <% end %>

</table>

<hr>
<div class="sum-p">
  <div><strong>Общо:</strong></div><div id="sum-prices"></div>
  <span style="color: green"><%=  %></span></h4>
  <div class="input-group">
    <div class="input-group-btn">
      <a id="button-offer" class="btn btn-primary" target="_blank" >Покажи оферта</a>
      <button id="product_ids" class="btn btn-success" >Добави в количката</button>
    </div>
</div>
</div>
<hr>

<script>

    // ready
    $('<div class="quantity-nav"><div class="quantity-button quantity-up" >+</div><div class="quantity-button quantity-down">-</div></div>').insertAfter('.quantity input');
    $('.quantity').each(function() {
        var spinner = $(this),
                input = spinner.find('input[type="number"]'),
                btnUp = spinner.find('.quantity-up'),
                btnDown = spinner.find('.quantity-down'),
                min = input.attr('min'),
                max = input.attr('max');

        btnUp.click(function() {
            var oldValue = parseFloat(input.val());
            if (oldValue >= max) {
                var newVal = oldValue;
            } else {
                var newVal = oldValue + 1;
                var row = $(this).parent().parent().parent();
                var price = row.children('td:nth-child(2)').children('select').val().split(':')[1];
                if (typeof price != 'undefined') {
                    var new_price = price * newVal;
                    row.children('td:nth-child(4)').html() == '';
                    row.children('td:nth-child(4)').html(new_price);
                    sum_price();
                }
            }
            spinner.find("input").val(newVal);
            spinner.find("input").trigger("change");

        });

        btnDown.click(function() {
            var oldValue = parseFloat(input.val());
            if (oldValue <= min) {
                var newVal = oldValue;
            } else {
                var newVal = oldValue - 1;
                var row = $(this).parent().parent().parent();
                var price = row.children('td:nth-child(2)').children('select').val().split(':')[1];
                if (typeof price != 'undefined') {
                    var new_price = price * newVal;
                    row.children('td:nth-child(4)').html() == '';
                    row.children('td:nth-child(4)').html(new_price);
                    sum_price();
                }
            }
            spinner.find("input").val(newVal);
            spinner.find("input").trigger("change");
        });

    });
//ready
    $('select').change(function(){
        var id_price_value = $(this).val();
        var arr_id_price = id_price_value.split(':');
        var row_product =  $(this).parent().parent();
        var quantity_product = row_product.find('.quantity input').val()
        var id_product = $.trim(arr_id_price[0]);
        var price_product = arr_id_price[1];

        row_product.find('td a').attr('href', 'store_mcomputers/' + id_product);

        if (isNaN(price_product)){
            price_product = 0;
        } else {
            price_product = arr_id_price[1] * quantity_product;
        }

        var cell_price = row_product.find('td.price_item')
        cell_price.empty();

        cell_price.append(price_product).innerHtml;

        sum_price();
    });

//ready
    function sum_price(){
        var sum_prices = 0;

        $('.price_item').each(function() {
            sum_prices += parseFloat($(this).html())
        });

        var commonPrices = $('#sum-prices')
        commonPrices.empty();
        commonPrices.append(sum_prices);
    }

// ready

    $(document).ready(function(){
        $("button#product_ids").click(function(){
            var obj_ids = {};
            var obj_quantity = {};
            var products = [];
            var i = 0;

            $('.row-config').each(function(){
                var ids = $(this).children('td:nth-child(5)').children('a').attr('href').split('/')[1];
                var quantity = $(this).children('td:nth-child(3)').children('input').val();
                products.push('{"id"=>"'+ ids + '", "quantity"=>"' + quantity+ '"}');
                i ++;
            });

            //var json_ids = JSON.stringify(obj_ids);
            //var json_quantity = JSON.stringify(obj_quantity);
            //var pro = JSON.stringify(products);

            $.ajax({
                url: "/configurator/ids=(" + products + ")",
                type: 'post',
            });
        });
    });

    //button offer

    $(document).ready(function(){
        $("#button-offer").click(function(){
            var obj_ids = {};
            var obj_quantity = {};
            var products = [];
            var i = 0;

            $('.row-config').each(function(){
                var ids = $(this).children('td:nth-child(5)').children('a').attr('href').split('/')[1];
                var quantity = $(this).children('td:nth-child(3)').children('input').val();
                products.push('{"id"=>"'+ ids + '", "quantity"=>"' + quantity+ '"}');
                i ++;
            });

            var sumPrice = $('#sum-prices').html()

            if (!$.trim( sumPrice ).length)
            {

            }else{
                $('#button-offer').attr('href', '/configurator/show_offer/ids=' + '(' + products + ')/sum_price=' + sumPrice);
            }

        });
    });

    // ready

    $(document).ready(function() {

        $('#btnHide').click(function() {
            if ($(".price_item").is(":visible"))
            {
                $('.price_item').hide();
                $('#btnHide').attr('value', 'Show prices');
            }else{
                $('.price_item').show();
                $('#btnHide').attr('value', 'Hide prices');
            }

        });
    });


 
</script>