<h2>Оферта</h2>


<input type="button" class="btn btn-success" onclick="printDiv('printableArea')" value="Принтирай офертата" />
<br>
<br>
<div id="printableArea">
<table class = "table table-bordered">
    <thead>
    <tr>
      <th>Продукт</th>
      <th>Единична цена</th>
      <th>Бройки</th>
      <th>Обща:</th>
    </tr>
    </thead>
    <tbody>
    <% @offer_products.each do |item, quantity| %>
    <% item.map do |product| %>
    <% product_description = eval(product.description) %>
        <% price = convert_price("#{product_description[:price]} #{product_description[:currency]}") %>
      <tr>
        <td><a href="/store_mcomputers/<%= product.id %>" target="_blank"><%= product_description[:code] %></a></td>
        <td><strong> <%= price %> лв.</strong></td>
        <% product.description %>
        <td><%= quantity%></td>
        <td><strong><%= (price.to_f * quantity.to_f).round(2) %> лв.</strong></td>
      </tr>
    <% end %>
<% end %>

</table>


  <strong>Обща сума: <%= @sum_price %> лв.</strong>
  </div>
  <div>
  <div class="input-group">
      <div class="input-group-btn">
        <input id="param-order" type="hidden" value="<%= @params_product %>">
        <button id="product_ids" class="btn btn-success" >Добави в количката</button>
      </div>
    </div>
  </div>

<script type="text/javascript" charset="utf-8">

    $(document).ready(function(){
        $("button#product_ids").click(function(){
            var products = $('#param-order').val();
            $.ajax({
                url: "/configurator/ids={" + products + "}",
                type: 'post',
            });
        });
    });

    function printDiv(divName) {
        var printContents = document.getElementById(divName).innerHTML;
        var originalContents = document.body.innerHTML;
        document.body.innerHTML = printContents;
        window.print();
        document.body.innerHTML = originalContents;
    }
</script>
