<!DOCTYPE html>
<html>
<head>
  <title>StoreMcomputers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">

    <header>
      <%= render 'shared/navbar'%>
    </header>


    <main class = "container" style = "padding-top:20px;">
        <%= yield %>
    </main>

    <footer>
      <%render 'shared/footbar'%>
    </footer>

</div>
</body>
</html>
