<!DOCTYPE html>
<html>
<head>
  <title>StoreMcomputers</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="wrapper">
  <div class="top-content">
    M computers
    </div>

    <header>
      <%= render 'shared/navbar'%>
      <div class="clearfix" />
    </header>

    <nav id="nav-vertical">
      <% render 'shared/right_vertical_meny'%>
      <%= render 'admin/admin_shared/admin_vertical_menu' if user_signed_in? && current_user.role == 'super_admin' %>
    </nav>

    <main class = "container" style = "padding-top:20px;">
      <%= yield %>
    </main>

    <footer>
      <%render 'shared/footbar'%>
    </footer>

</div>
</body>
</html>
